<h1 class="text-center">Panel</h1>

<h2> TOTAL : {{total | currency}}</h2> 
<p-dataView #dv [value]="panelProducts" 
        [paginator]="true" 
        layout="list"
        paginatorPosition="top"
        [rows]="5" 
        [rowsPerPageOptions]="[5, 10, 20]"
        >
  <ng-template pTemplate="list" let-entry>
    @for (entry of panelProducts; track [entry[0], entry[1]]) {
    <p-card class="block mb-2">
      <span class="font-medium text-secondary text-sm">{{ entry[0].category }}</span>
      <div class="relative text-lg font-medium text-900 mt-2">
        {{ entry[0].name }} ({{ entry[0].description }})
        <span class="absolute top-0 right-0 text-sm font-bold text-primary">
         Quantity : {{ entry[1] }} 
        </span>
      </div>
      <div class="text-lg font-medium text-900 mt-2">{{ entry[0].price | currency }}</div>
      <div class="text-lg font-medium text-900 mt-2">
        <star-rating [starType]="'svg'" [rating]="entry[0].rating"></star-rating>
      </div>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="Supprimer" severity="danger"  (click)="removeFromPanel(entry[0])"/>
          <p-button label="Reduce One" class="hover:bg-orange-700" (click)="reduceOneFromPanel(entry[0])"/>
        </div>
      </ng-template>
    </p-card>
  }
  </ng-template>
</p-dataView>
